<button><%= link_to 'Home', root_path %> </button>

<h3>Update a Scene</h3>
<h4>Current title: <br> <%= @scene.title %></h4>
<h4>Current description:</h4> <p><%= @scene.description %> </p>

<%= form_with model: @scene do |form| %>
  <%= form.text_field :Title, placeholder: "Title" %>
  <%= form.text_field :Description, placeholder: "Description" %>
  <%= form.submit %>
<% end %>
