<ul>
  <% @scenes.each do |scene| %>
    <li><%= link_to scene.title, scene_path(scene)  %></li>
  <% end %>
</ul>

<table>
  <% @scenes.each do |scene| %>
    <tr>
      <td><%= link_to scene.title, scene_path(scene) %></td>
      <td><%= button_to 'Edit', edit_scene_path(scene), method: 'get'%></td>
      <td><%= button_to 'Remove', scene_path(scene), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New Scene", new_scene_path %>
