<button><%= link_to 'Home', root_path %> </button>

<h1><%= @scene.title %></h1>
<h4>"<%= @scene.description %>"</h4>

<button><%= link_to 'Edit', edit_scene_path %> </button>
<button><%= link_to 'Remove', scene_path, method: 'delete', data: { confirm: 'Are you sure?' } %></button>

