<div class="container">

  <h2><%= @scene.title %></h2>
  <h5><%= @scene.description %></h5>
  <div class="buttons">
    <button><%= link_to 'Edit', edit_scene_path %> </button>
    <button><%= link_to 'Add Images', edit_scene_path %> </button>
    <button><%= link_to 'Remove', scene_path(@scene), method: :delete, data: { confirm: 'Are you 100% sure?' } %></button>
  </div>
</div>
