<div class="container">

  <!-- <button><%= link_to 'Home', root_path %> </button> -->

  <h1><%= @scene.title %></h1>
  <h4>"<%= @scene.description %>"</h4>

  <button><%= link_to 'Edit', edit_scene_path %> </button>
  <button><%= link_to 'Add Images', edit_scene_path %> </button>
  <button><%= link_to 'Remove', scene_path(@scene), method: :delete, data: { confirm: 'Are you 100% sure?' } %></button>

</div>
